[include mainsail.cfg]
[include autocommit.cfg]

#-------------------------#
#   HARDWARE COMPONENTS   #
#-------------------------#

# -------------------------------------------------------------------------------------------------------------------------
#                                                PRINTER KINEMATICS
# -------------------------------------------------------------------------------------------------------------------------
[printer]
kinematics: corexy
max_velocity:           300
max_accel:              3000 #10000
max_z_velocity:         15   #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel:            350
#max_accel_to_decel:    1500 # аналог ускорений от 50% от макс ускорения и более
square_corner_velocity: 5.0


# -------------------------------------------------------------------------------------------------------------------------
#                                                MACHINE AXIS
# -------------------------------------------------------------------------------------------------------------------------
# X axis
[include config/hardware/axis/X/1.8deg.cfg]
# Y axis
[include config/hardware/axis/Y/1.8deg.cfg]
# Z axis
[include config/hardware/axis/Z/1.8deg.cfg]


# -------------------------------------------------------------------------------------------------------------------------
#                                                PRINTER DIMENSIONS
# -------------------------------------------------------------------------------------------------------------------------
[include config/hardware/axis/size/350mm.cfg]


# -------------------------------------------------------------------------------------------------------------------------
#                                                EXTRUDER
# -------------------------------------------------------------------------------------------------------------------------
# Octopus
# [include config/hardware/extruder/cw2.cfg] 
# EBB Canbus
[include config/hardware/extruder/ebb_canbus_cw2.cfg]


# -------------------------------------------------------------------------------------------------------------------------
#                                                HEATER BED
# -------------------------------------------------------------------------------------------------------------------------
[include config/hardware/heater_bed.cfg]


# -------------------------------------------------------------------------------------------------------------------------
#                                                TEMPERATURE SENSORS
# -------------------------------------------------------------------------------------------------------------------------
# [include config/hardware/temperature_sensors/rpi_temp.cfg]
# [include config/hardware/temperature_sensors/mcu_temp.cfg]
# [include config/hardware/temperature_sensors/toolhead_mcu_temp.cfg]
# [include config/hardware/temperature_sensors/cabinet_temp.cfg]
# [include config/hardware/temperature_sensors/chamber_temp.cfg]
# [include config/hardware/temperature_sensors/chamber_temp_toolhead.cfg] # This is not recommended as toolhead board temperature sensors are not accurate

# EBB Canbus
[include config/hardware/temperature_sensors/ebb_canbus_temp_sensor.cfg]


# -------------------------------------------------------------------------------------------------------------------------
#                                                PROBE
# -------------------------------------------------------------------------------------------------------------------------
# Octopus
## Dockable probes, like Klicky, Euclid or equivalent (available also in virtual Z endstop variant)
# [include config/hardware/probes/dockable.cfg]
# [include config/hardware/probes/dockable_virtual.cfg]

# EBB Canbus
#[include config/hardware/probes/ebb_canbus_dockable.cfg] # Klicky
[include config/hardware/probes/ebb_canbus_tap.cfg]       # TAP


# -------------------------------------------------------------------------------------------------------------------------
#                                                FANS
# -------------------------------------------------------------------------------------------------------------------------
# Octopus
# [include config/hardware/fans/hotend_fan.cfg]
# [include config/hardware/fans/part_fan.cfg]
[include config/hardware/fans/controller_fan.cfg]
# [include config/hardware/fans/rpi_fan.cfg]

# EBB Canbus
[include config/hardware/fans/ebb_canbus_hotend_fan.cfg]
[include config/hardware/fans/ebb_canbus_part_fan.cfg]


# -------------------------------------------------------------------------------------------------------------------------
#                                                FILTERS
# -------------------------------------------------------------------------------------------------------------------------
# [include config/hardware/filters/exhaust_filter.cfg]
# [include config/hardware/filters/nevermore_filter.cfg]


# -------------------------------------------------------------------------------------------------------------------------
#                                                DISPLAY
# -------------------------------------------------------------------------------------------------------------------------
[include config/hardware/displays/BTT_mini12864.cfg]


# -------------------------------------------------------------------------------------------------------------------------
#                                                LIGHTS AND LEDS
# -------------------------------------------------------------------------------------------------------------------------
# Octopus
# [include config/hardware/lights/fcob_white.cfg]
# [include config/hardware/lights/neopixel_caselight.cfg]
# [include config/hardware/lights/toolhead_neopixels.cfg]

# EBB Canbus
[include config/hardware/lights/ebb_canbus_toolhead_neopixels.cfg]


# -------------------------------------------------------------------------------------------------------------------------
#                                                ACCELEROMETER
# -------------------------------------------------------------------------------------------------------------------------
# [include config/hardware/accelerometers/adxl345_rpi.cfg] # For ADXL plugged directly on the Pi (official and recommended way)

# EBB Canbus
[include config/hardware/accelerometers/ebb_canbus_adxl345.cfg]


# -------------------------------------------------------------------------------------------------------------------------
#                                                FILAMENT SENSORS
# -------------------------------------------------------------------------------------------------------------------------
# [include config/hardware/filament_sensors/motion_sensor.cfg]


# -------------------------------------------------------------------------------------------------------------------------
#                                                ERCF
# -------------------------------------------------------------------------------------------------------------------------
# !!! Select either all lines or none !!!
### Klippain is designed to be used with the ERCF Happy Hare software: https://github.com/moggieuk/ERCF-Software-V3
### Please run its own install script to get Happy Hare ready to be used
### Then, include all of the following files that are created during the installation of Happy Hare to enable ERCF in Klippain
# [include ercf_hardware.cfg]
# [include ercf_parameters.cfg]
# [include ercf_software.cfg]
# [include ercf_menu.cfg]   # Optional: use it if you also have a Mini12864 display to add the ERCF menu entries
# [include config/hardware/ercf.cfg]

# -------------------------------------------------------------------------------------------------------------------------
#                                                SERVOS
# -------------------------------------------------------------------------------------------------------------------------
# [include config/hardware/servos/probe_servo.cfg]
# [include config/hardware/servos/purgeclean_servo.cfg]
# [include config/hardware/servos/shared_probepurge_servo.cfg] # If one servo is used for both probe dock and purge bucket



#---------------------------------#
#   KLIPPER SOFTWARE COMPONENTS   #
#---------------------------------#

# -------------------------------------------------------------------------------------------------------------------------
#                                                FIRMWARE RETRACTION
# -------------------------------------------------------------------------------------------------------------------------
[include config/software/firmware_rectraction.cfg]

# -------------------------------------------------------------------------------------------------------------------------
#                                                TILTING
# -------------------------------------------------------------------------------------------------------------------------
[include config/software/quad_gantry_level_350.cfg]

### If you need to specify a tilting configuration for a custom sized printer, use your
### overrides.cfg file instead. These defaults are only made for common machines sizes

# -------------------------------------------------------------------------------------------------------------------------
#                                                AUTO Z CALIBRATION
# -------------------------------------------------------------------------------------------------------------------------
#[include config/software/klicky-z-calibration.cfg]

# -------------------------------------------------------------------------------------------------------------------------
#                                                BED MESH
# -------------------------------------------------------------------------------------------------------------------------
[include config/software/bed_mesh_350mm.cfg]

### If you need to specify a bed mesh configuration for a custom sized printer, use your
### overrides.cfg file instead. These defaults are only made for common machines sizes

# -------------------------------------------------------------------------------------------------------------------------
#                                                INPUT SHAPER
# -------------------------------------------------------------------------------------------------------------------------
# [include config/software/input_shaper.cfg] # Don't forget to calibrate it!

# -------------------------------------------------------------------------------------------------------------------------
#                                                SENSORLESS HOMING
# -------------------------------------------------------------------------------------------------------------------------
# [include config/software/sensorless_TMC2209.cfg]

### Follow the Klipper documentation here: https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing
### to find the best suited SGTHRS value according to your machine. Then add this value to your
### overrides.cfg as stated in the config/software/sensorless_homing.cfg file!



[include config/machine.cfg]
[include variables.cfg]
[include mcu.cfg]
# [include overrides.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 57.653
#*# pid_ki = 2.785
#*# pid_kd = 298.356
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.301
#*# pid_ki = 1.147
#*# pid_kd = 89.832
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 46.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 34.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.066250, 0.068750, 0.048750, 0.042500, 0.037500, 0.045000, 0.038750, 0.062500, 0.048750
#*# 	  0.081250, 0.081250, 0.062500, 0.056250, 0.053750, 0.047500, 0.050000, 0.075000, 0.061250
#*# 	  0.070000, 0.053750, 0.067500, 0.037500, 0.068750, 0.068750, 0.076250, 0.093750, 0.061250
#*# 	  0.033750, 0.031250, 0.028750, 0.026250, 0.012500, 0.007500, 0.027500, 0.065000, 0.053750
#*# 	  0.018750, 0.035000, 0.036250, 0.005000, 0.000000, 0.010000, 0.032500, 0.025000, 0.040000
#*# 	  0.053750, 0.028750, 0.011250, 0.020000, 0.021250, 0.033750, 0.043750, 0.047500, 0.072500
#*# 	  0.027500, 0.046250, 0.041250, 0.026250, 0.053750, 0.032500, 0.078750, 0.057500, 0.065000
#*# 	  0.055000, 0.043750, 0.051250, 0.046250, 0.056250, 0.040000, 0.076250, 0.080000, 0.100000
#*# 	  0.071250, 0.063750, 0.075000, 0.081250, 0.060000, 0.080000, 0.071250, 0.100000, 0.105000
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 310.0
#*# min_y = 40.0
#*# max_y = 310.0
