# Neopixel leds used on the toolhead (stealthburner style)
[gcode_macro _GLOBAL_USER_VARIABLES]
variable_status_leds_enabled: True
variable_status_leds_effects_enabled: False
variable_status_leds_logo_led_name: "status_leds"
variable_status_leds_logo_idx: '1'
variable_status_leds_nozzle_led_name: "status_leds"
variable_status_leds_nozzle_idx: '2,3'
gcode:

# Also include directly the leds control macros from here
[include ../../../macros/hardware_functions/status_leds.cfg]


[neopixel sb_leds]
# The pin connected to the neopixel. This parameter must be provided.
pin: STATUS_NEOPIXEL

# The number of Neopixel chips that are "daisy chained" to the
# provided pin. The default is 1 (which indicates only a single
# Neopixel is connected to the pin).
chain_count: 3

# Set the pixel order required by the LED hardware. Options are GRB,
# RGB, GRBW, or RGBW. The default is GRB.
color_order: GRBW

# Sets the initial LED color of the Neopixel. Each value should be
# between 0.0 and 1.0. The WHITE option is only available on RGBW
# LEDs. The default for each color is 0.#
initial_RED: 0.3529
initial_GREEN: 0.0
initial_BLUE: 0.7059
initial_WHITE: 0.0


