#####################################################################
#   X Stepper Settings
#####################################################################

# Octopus:
# B Stepper - Left
# Connected to MOTOR_0
# Endstop connected to DIAG_0

[stepper_x]
step_pin: X_STEP # PF13 - Octopus
dir_pin: X_DIR # PF12 - Octopus
enable_pin: !X_ENABLE # !PF14 - Octopus
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper

endstop_pin: X_STOP # PG6 - Octopus, toolhead:PB6 - EBB Canbus

homing_speed: 100 # Max 100
second_homing_speed: 10
homing_retract_dist: 5
homing_positive_dir: true